body{
    margin: 20px;
}
.card{
    width: 150px;
    border-radius: 5px;
}
.card-container{
    background-color: #F4CAE0;
    border-bottom: 4px solid #009bff;
    padding: 20px;
    display: flex;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 5px 7px rgba(0,0,0,0.1);
}
.italic{
    font-style: italic;
}
.element{
    text-align: center;
    font-size: 20px;
}